body {
	background-color: lightblue;
}

nav {

}

nav ul {
	list-style-type: none;
	height: 100%;
	position: fixed;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: blue;
	top: 0;
	left: 0;
}

nav li a {
	display: block;
}

#main-doc {
	margin-left: 20%;
}